In [1]:
# Import necessary packages
import pandas as pd
import numpy as np
import os,sys

In [2]:
# Check current working directory
os.getcwd()

'/Users/yeonjoo/Downloads/Unilateral_foot'

In [4]:
# Change directory if necessary
#newdirectory = input("Path: ")
#os.chdir(newdirectory)
#os.getcwd()

In [3]:
# File import by filename
Subject = input("Subject: ")
Trial = input("Trial: ")
filename = Subject + "Trial"+ Trial

df = pd.read_csv(filename +'.csv')
df.head()

Subject: G01
Trial: 01B

,LHEEX,LHEEY,LHEEZ,LTOEX,LTOEY,LTOEZ,RHEEX,RHEEY,RHEEZ,RTOEX,RTOEY,RTOEZ
0,559.914917,225.673523,363.812408,479.800262,241.704697,232.941010,162.991882,273.840851,244.855728,7.050198,283.474823,217.567856
1,557.856873,222.468201,367.131042,484.732330,241.475845,233.491440,168.571487,274.065460,245.729492,12.948183,283.184052,217.550018
2,554.738342,218.509430,371.350433,490.249878,241.009659,234.528137,175.649750,274.333496,246.754410,20.394018,282.905273,217.571045
3,550.474487,214.062210,376.312012,495.692780,240.220306,236.170486,183.977097,274.633759,247.857605,29.107872,282.687561,217.652603
4,545.101990,209.485321,381.799591,500.300659,239.027679,238.474884,193.242340,274.959625,248.976288,38.747627,282.572235,217.809357

In [4]:
df = pd.read_csv(filename +'.csv')
df.head()

,LHEEX,LHEEY,LHEEZ,LTOEX,LTOEY,LTOEZ,RHEEX,RHEEY,RHEEZ,RTOEX,RTOEY,RTOEZ
0,559.914917,225.673523,363.812408,479.800262,241.704697,232.941010,162.991882,273.840851,244.855728,7.050198,283.474823,217.567856
1,557.856873,222.468201,367.131042,484.732330,241.475845,233.491440,168.571487,274.065460,245.729492,12.948183,283.184052,217.550018
2,554.738342,218.509430,371.350433,490.249878,241.009659,234.528137,175.649750,274.333496,246.754410,20.394018,282.905273,217.571045
3,550.474487,214.062210,376.312012,495.692780,240.220306,236.170486,183.977097,274.633759,247.857605,29.107872,282.687561,217.652603
4,545.101990,209.485321,381.799591,500.300659,239.027679,238.474884,193.242340,274.959625,248.976288,38.747627,282.572235,217.809357

In [9]:
# Use Only When first rows are "0" =====> Need to code "IF"

#df.drop([0,0], inplace=True)
#df = df.reset_index(drop=True)
#df.head()

,LHEEX,LHEEY,LHEEZ,LTOEX,LTOEY,LTOEZ,RHEEX,RHEEY,RHEEZ,RTOEX,RTOEY,RTOEZ
0,206.448959,237.571869,448.444214,143.744415,209.842484,269.410187,-36.156570,292.136383,233.808090,-231.766464,321.187836,215.134430
1,197.450485,237.683365,447.939270,131.803299,207.946152,270.171112,-28.587440,292.350067,234.323608,-224.168304,321.603699,215.438858
2,186.790955,237.709122,446.701294,117.349838,205.832184,270.662994,-19.769789,292.589478,234.928970,-215.298050,322.083527,215.786713
3,174.854614,237.606277,444.523987,100.744469,203.620560,270.738037,-10.068398,292.839020,235.602142,-205.517883,322.605591,216.160553
4,161.998779,237.348358,441.252197,82.362747,201.431641,270.288849,0.181989,293.087769,236.323685,-195.165985,323.148010,216.544876

In [112]:
df.head()

,LHEEX,LHEEY,LHEEZ,LTOEX,LTOEY,LTOEZ,RHEEX,RHEEY,RHEEZ,RTOEX,RTOEY,RTOEZ
0,559.914917,225.673523,363.812408,479.800262,241.704697,232.941010,162.991882,273.840851,244.855728,7.050198,283.474823,217.567856
1,557.856873,222.468201,367.131042,484.732330,241.475845,233.491440,168.571487,274.065460,245.729492,12.948183,283.184052,217.550018
2,554.738342,218.509430,371.350433,490.249878,241.009659,234.528137,175.649750,274.333496,246.754410,20.394018,282.905273,217.571045
3,550.474487,214.062210,376.312012,495.692780,240.220306,236.170486,183.977097,274.633759,247.857605,29.107872,282.687561,217.652603
4,545.101990,209.485321,381.799591,500.300659,239.027679,238.474884,193.242340,274.959625,248.976288,38.747627,282.572235,217.809357

In [5]:
# Calculate Heel and Toe Marker Velocity
col_names = ['LTOEZ', 'RTOEZ']
name_rows_dict1 = {}

for col in col_names:
    vel_rows = []
    for idx, value in enumerate(df[col]):
        if idx == 0:
            vel_rows.append(0)
        else:
            vel_row = (df.loc[idx,col] - df.loc[idx-1,col])*100
            vel_rows.append(vel_row)
    name_rows_dict1[col] = vel_rows

vel_df = pd.DataFrame(name_rows_dict1)
vel_df = vel_df.drop(0)
vel_df = vel_df.reset_index(drop=True)
vel_df.head(10)

      LTOEZ    RTOEZ
0   55.0430  -1.7838
1  103.6697   2.1027
2  164.2349   8.1558
3  230.4398  15.6754
4  293.5715  23.5565
5  344.8562  30.7770
6  377.4796  36.7065
7  387.8982  41.1392
8  376.2238  44.2414
9  345.5933  46.2890

In [220]:
# Identify Left Toe minimum clearance
# by Left Toe marker velocity changes its direction from negative to positive
name_rows_dict2 = {}

lstrike_rows = []
for idx, value in enumerate(vel_df['LTOEZ']):
    if idx == 0:
        idx = idx + 1
    else:
        if vel_df.loc[idx, 'LTOEZ'] < 0:
            idx = idx + 1 
        else:
            if vel_df.loc[idx - 1, 'LTOEZ'] > 0:
                idx = idx + 1 
            else:
                lstrike_rows.append(idx - 1)
            
name_rows_dict2['LTMidx'] = lstrike_rows

lstrike_df = pd.DataFrame(name_rows_dict2)
lstrike_df.head(), len(lstrike_df)

(   LHSidx
 0      39
 1     132
 2     223
 3     323
 4     416,
 317)

In [221]:
# Identify Left Toe Off
# by Left Toe marker velocity changes its direction
name_rows_dict3 = {}
idx = 0
i = 0

ltoff_rows = []
for idx, value in enumerate(vel_df['LTOEX']):
    if idx < lstrike_df.loc[i,'LHSidx']:
        idx = idx + 1
    else:
        if vel_df.loc[idx, 'LTOEX'] > 0:
            idx = idx + 1 
        else:
            if vel_df.loc[idx - 1, 'LTOEX'] < 0:
                idx = idx + 1 
            else:
                ltoff_rows.append(idx - 1)
                i = i+1
                
name_rows_dict3['LTOidx'] = ltoff_rows

ltoff_df = pd.DataFrame(name_rows_dict3)
ltoff_df.head(), len(ltoff_df)

(   LTOidx
 0      97
 1     189
 2     285
 3     381
 4     475,
 316)

In [222]:
#Concate HS and TO event time & make sure them to be int 64
lstrike_df = pd.concat([lstrike_df,ltoff_df], axis=1)
lstrike_df = lstrike_df.astype('Int64')
lstrike_df.head()

   LHSidx  LTOidx
0      39      97
1     132     189
2     223     285
3     323     381
4     416     475

In [223]:
# Identify left side repeated step (first interval default 55)

lefts = []
for idx in lstrike_df.index:
    if idx == 0:
        lefts.append(55)
    else:
        left = (lstrike_df.loc[idx, 'LHSidx']- lstrike_df.loc[idx - 1, 'LHSidx'])
        lefts.append(left)

lstrike_df['lHSinterval'] = lefts
lstrike_df.head(), lstrike_df['lHSinterval'].unique(), lstrike_df.count()

(   LHSidx  LTOidx  lHSinterval
 0      39      97           55
 1     132     189           93
 2     223     285           91
 3     323     381          100
 4     416     475           93,
 array([ 55,  93,  91, 100,  92,  94,  97,  90,  95,  96,  99,  98, 101,
         88,  89, 104, 103, 102]),
 LHSidx         317
 LTOidx         316
 lHSinterval    317
 dtype: int64)

In [224]:
# Identify left side repeated step (first interval default 55)

lefts = []
for idx in lstrike_df.index:
    if idx == 0:
        lefts.append(55)
    else:
        left = (lstrike_df.loc[idx, 'LTOidx']- lstrike_df.loc[idx - 1, 'LTOidx'])
        lefts.append(left)

lstrike_df['lTOinterval'] = lefts
lstrike_df.head(), lstrike_df['lTOinterval'].unique(), lstrike_df.count()

(   LHSidx  LTOidx  lHSinterval lTOinterval
 0      39      97           55          55
 1     132     189           93          92
 2     223     285           91          96
 3     323     381          100          96
 4     416     475           93          94,
 array([55, 92, 96, 94, 93, 91, 97, 100, 98, 99, 95, 90, 102, 89, 105, 101,
        104, <NA>], dtype=object),
 LHSidx         317
 LTOidx         316
 lHSinterval    317
 lTOinterval    316
 dtype: int64)

In [225]:
len(lstrike_df[lstrike_df['lHSinterval'] < 55])

0

In [226]:
len(lstrike_df[lstrike_df['lTOinterval'] < 55])

0

In [227]:
#Drop left side repeated step
for idx, row in lstrike_df.iterrows():
    if row['lHSinterval'] < 55:
        lstrike_df.drop(idx, inplace=True)


lstrike_df.head(), lstrike_df['lHSinterval'].unique(), lstrike_df.count()

(   LHSidx  LTOidx  lHSinterval lTOinterval
 0      39      97           55          55
 1     132     189           93          92
 2     223     285           91          96
 3     323     381          100          96
 4     416     475           93          94,
 array([ 55,  93,  91, 100,  92,  94,  97,  90,  95,  96,  99,  98, 101,
         88,  89, 104, 103, 102]),
 LHSidx         317
 LTOidx         316
 lHSinterval    317
 lTOinterval    316
 dtype: int64)

In [45]:
#lstrike_df.index[(lstrike_df['lHSinterval']== 76)]

In [46]:
#lstrike_df.iloc[181]

In [47]:
#lstrike_df1 = lstrike_df.drop(181)

In [48]:
#lstrike_df1.iloc[175:185]

In [49]:
#lstrike_df.index[(lstrike_df['lHSinterval']== 83)]

In [50]:
#lstrike_df.iloc[170:175]

In [51]:
#rstrike_df.iloc[170:175]

In [228]:
# Reset the index for left foot
lstrike_df = lstrike_df.reset_index(drop=True)
lstrike_df = lstrike_df.dropna()
lstrike_df.head(), len(lstrike_df)

(   LHSidx  LTOidx  lHSinterval lTOinterval
 0      39      97           55          55
 1     132     189           93          92
 2     223     285           91          96
 3     323     381          100          96
 4     416     475           93          94,
 316)

In [229]:
# Get trajectory for left heelstrike and left toeoff
LHSval = pd.DataFrame(df.loc[lstrike_df['LHSidx'], ['LHEEX','LHEEY']])
LHSval_reidx = LHSval.reset_index().drop(columns=['index'])

LTOval = pd.DataFrame(df.loc[lstrike_df['LTOidx'], ['LTOEX','LTOEZ']])
LTOval_reidx = LTOval.reset_index().drop(columns=['index'])

In [230]:
# Concate the left HS and TO
LHS_df = pd.concat([lstrike_df, LHSval_reidx, LTOval_reidx], axis=1)
LHS_df.head()

,LHSidx,LTOidx,lHSinterval,lTOinterval,LHEEX,LHEEY,LTOEX,LTOEZ
0,39,97,55,55,104.303894,219.576691,489.456909,238.956665
1,132,189,93,92,92.766647,206.996857,471.096344,239.778244
2,223,285,91,96,89.928970,249.730743,509.572571,240.366760
3,323,381,100,96,118.946724,223.892303,511.645905,238.043289
4,416,475,93,94,78.241684,212.056198,468.778290,238.593948

In [231]:
#NEW!!!! #Identify right heel strike
name_rows_dict4 = {}

rstrike_rows = []
for idx, value in enumerate(vel_df['RHEEX']):
    if idx == 0:
        idx = idx + 1
    else:
        if vel_df.loc[idx, 'RHEEX'] < 0:
            idx = idx + 1 
        else:
            if vel_df.loc[idx - 1, 'RHEEX'] > 0:
                idx = idx + 1 
            else:
                rstrike_rows.append(idx - 1)
            
name_rows_dict4['RHSidx'] = rstrike_rows

rstrike_df = pd.DataFrame(name_rows_dict4)
rstrike_df.head(), len(rstrike_df)

(   RHSidx
 0      85
 1     177
 2     270
 3     368
 4     462,
 316)

In [232]:
# Identify Right Toe Off
# by Right Toe marker velocity changes its direction
name_rows_dict5 = {}
idx = 0
i = 0

rtoff_rows = []
for idx, value in enumerate(vel_df['RTOEX']):
    if idx < rstrike_df.loc[i,'RHSidx']:
        idx = idx + 1
    else:
        if vel_df.loc[idx, 'RTOEX'] > 0:
            idx = idx + 1 
        else:
            if vel_df.loc[idx - 1, 'RTOEX'] < 0:
                idx = idx + 1 
            else:
                rtoff_rows.append(idx - 1)
                i = i+1
                
name_rows_dict5['RTOidx'] = rtoff_rows

rtoff_df = pd.DataFrame(name_rows_dict5)
rtoff_df.head(), len(rtoff_df)

(   RTOidx
 0     144
 1     235
 2     334
 3     429
 4     520,
 315)

In [233]:
#Concate HS and TO event time & make sure them to be int 64
rstrike_df = pd.concat([rstrike_df,rtoff_df], axis=1)
rstrike_df = rstrike_df.astype('Int64')
rstrike_df.head()

   RHSidx  RTOidx
0      85     144
1     177     235
2     270     334
3     368     429
4     462     520

In [234]:
# Identify right side repeated step (first interval default 55)

rights = []
for idx in rstrike_df.index:
    if idx == 0:
        rights.append(55)
    else:
        right = (rstrike_df.loc[idx, 'RHSidx']- rstrike_df.loc[idx - 1, 'RHSidx'])
        rights.append(right)

rstrike_df['rHSinterval'] = rights
rstrike_df.head(), rstrike_df['rHSinterval'].unique(),  rstrike_df.count()

(   RHSidx  RTOidx  rHSinterval
 0      85     144           55
 1     177     235           92
 2     270     334           93
 3     368     429           98
 4     462     520           94,
 array([ 55,  92,  93,  98,  94,  91,  96,  89,  97,  95,  99, 100, 101,
         90, 104, 102,  87]),
 RHSidx         316
 RTOidx         315
 rHSinterval    316
 dtype: int64)

In [235]:
# Identify right side repeated step (first interval default 55)

rights = []
for idx in rstrike_df.index:
    if idx == 0:
        rights.append(55)
    else:
        right = (rstrike_df.loc[idx, 'RTOidx']- rstrike_df.loc[idx - 1, 'RTOidx'])
        rights.append(right)

rstrike_df['rTOinterval'] = rights
rstrike_df.head(), rstrike_df['rTOinterval'].unique(),  rstrike_df.count()

(   RHSidx  RTOidx  rHSinterval rTOinterval
 0      85     144           55          55
 1     177     235           92          91
 2     270     334           93          99
 3     368     429           98          95
 4     462     520           94          91,
 array([55, 91, 99, 95, 92, 94, 97, 89, 96, 93, 98, 90, 100, 101, 103, 102,
        88, <NA>], dtype=object),
 RHSidx         316
 RTOidx         315
 rHSinterval    316
 rTOinterval    315
 dtype: int64)

In [236]:
len(rstrike_df[rstrike_df['rHSinterval'] < 55])

0

In [237]:
len(rstrike_df[rstrike_df['rTOinterval'] < 55])

0

In [157]:
#rstrike_df.iloc[40:50]

In [238]:
#Drop right side repeated step
for idx, row in rstrike_df.iterrows():
    if row['rHSinterval'] < 50:
        rstrike_df.drop(idx, inplace=True)

rstrike_df.head(), rstrike_df['rHSinterval'].unique(), rstrike_df.count()

(   RHSidx  RTOidx  rHSinterval rTOinterval
 0      85     144           55          55
 1     177     235           92          91
 2     270     334           93          99
 3     368     429           98          95
 4     462     520           94          91,
 array([ 55,  92,  93,  98,  94,  91,  96,  89,  97,  95,  99, 100, 101,
         90, 104, 102,  87]),
 RHSidx         316
 RTOidx         315
 rHSinterval    316
 rTOinterval    315
 dtype: int64)

In [239]:
# Reset the index for right foot
rstrike_df = rstrike_df.reset_index(drop=True)
rstrike_df = rstrike_df.dropna()
rstrike_df.head(), len(rstrike_df)

(   RHSidx  RTOidx  rHSinterval rTOinterval
 0      85     144           55          55
 1     177     235           92          91
 2     270     334           93          99
 3     368     429           98          95
 4     462     520           94          91,
 315)

In [240]:
# Get trajectory for left heelstrike and left toeoff
RHSval = pd.DataFrame(df.loc[rstrike_df['RHSidx'], ['RHEEX','RHEEY']])
RHSval_reidx = RHSval.reset_index().drop(columns=['index'])

RTOval = pd.DataFrame(df.loc[rstrike_df['RTOidx'], ['RTOEX','RTOEZ']])
RTOval_reidx = RTOval.reset_index().drop(columns=['index'])

In [241]:
# Concate the right HS and TO
RHS_df = pd.concat([rstrike_df, RHSval_reidx, RTOval_reidx], axis=1)
RHS_df.head()

,RHSidx,RTOidx,rHSinterval,rTOinterval,RHEEX,RHEEY,RTOEX,RTOEZ
0,85,144,55,55,98.309395,274.924652,496.558044,244.778183
1,177,235,92,91,85.948959,283.035889,474.737640,238.342560
2,270,334,93,99,80.488518,316.554718,521.277588,244.556671
3,368,429,98,95,72.993408,287.824036,492.446136,240.875793
4,462,520,94,91,79.084045,291.174866,464.129517,240.957901

In [278]:
# Merge left and right side HS and TO 
strike_df = pd.merge(LHS_df, RHS_df, left_index = True, right_index = True)
strike_df.head()

,LHSidx,LTOidx,lHSinterval,lTOinterval,LHEEX,LHEEY,LTOEX,LTOEZ,RHSidx,RTOidx,rHSinterval,rTOinterval,RHEEX,RHEEY,RTOEX,RTOEZ
0,39,97,55,55,104.303894,219.576691,489.456909,238.956665,85,144,55,55,98.309395,274.924652,496.558044,244.778183
1,132,189,93,92,92.766647,206.996857,471.096344,239.778244,177,235,92,91,85.948959,283.035889,474.737640,238.342560
2,223,285,91,96,89.928970,249.730743,509.572571,240.366760,270,334,93,99,80.488518,316.554718,521.277588,244.556671
3,323,381,100,96,118.946724,223.892303,511.645905,238.043289,368,429,98,95,72.993408,287.824036,492.446136,240.875793
4,416,475,93,94,78.241684,212.056198,468.778290,238.593948,462,520,94,91,79.084045,291.174866,464.129517,240.957901

In [279]:
# Calculate step time


Rsteptime = []
Lsteptime = []

for idx in strike_df.index:
    if strike_df.loc[0, 'LHSidx'] < strike_df.loc[0, 'RHSidx']:
        if idx == 0:
            Rstep_time = strike_df.loc[idx, 'RHSidx'] - strike_df.loc[idx, 'LHSidx']
            Rsteptime.append(Rstep_time)
            Lsteptime.append(0)
        else:
            Rstep_time = strike_df.loc[idx, 'RHSidx'] - strike_df.loc[idx, 'LHSidx']
            Rsteptime.append(Rstep_time)
            Lstep_time = strike_df.loc[idx, 'LHSidx'] - strike_df.loc[idx - 1,'RHSidx']
            Lsteptime.append(Lstep_time)
    else:
        if idx ==0:
            Rsteptime.append(0)
            Lstep_time = strike_df.loc[idx, 'LHSidx'] - strike_df.loc[idx,'RHSidx']
            Lsteptime.append(Lstep_time)
        else:
            Rstep_time = strike_df.loc[idx, 'RHSidx'] - strike_df.loc[idx - 1, 'LHSidx']
            Rsteptime.append(Rstep_time)
            Lstep_time = strike_df.loc[idx, 'LHSidx'] - strike_df.loc[idx,'RHSidx']
            Lsteptime.append(Lstep_time)
        

strike_df['Rstep_time'] = Rsteptime
strike_df['Lstep_time'] = Lsteptime

strike_df.head()

,LHSidx,LTOidx,lHSinterval,lTOinterval,LHEEX,LHEEY,LTOEX,LTOEZ,RHSidx,RTOidx,rHSinterval,rTOinterval,RHEEX,RHEEY,RTOEX,RTOEZ,Rstep_time,Lstep_time
0,39,97,55,55,104.303894,219.576691,489.456909,238.956665,85,144,55,55,98.309395,274.924652,496.558044,244.778183,46,0
1,132,189,93,92,92.766647,206.996857,471.096344,239.778244,177,235,92,91,85.948959,283.035889,474.737640,238.342560,45,47
2,223,285,91,96,89.928970,249.730743,509.572571,240.366760,270,334,93,99,80.488518,316.554718,521.277588,244.556671,47,46
3,323,381,100,96,118.946724,223.892303,511.645905,238.043289,368,429,98,95,72.993408,287.824036,492.446136,240.875793,45,53
4,416,475,93,94,78.241684,212.056198,468.778290,238.593948,462,520,94,91,79.084045,291.174866,464.129517,240.957901,46,48

In [183]:
strike_df.tail()

,LHSidx,LTOidx,lHSinterval,lTOinterval,LHEEX,LHEEY,LTOEX,LTOEZ,RHSidx,RTOidx,rHSinterval,rTOinterval,RHEEX,RHEEY,RTOEX,RTOEZ,Rstep_time,Lstep_time
310,29431,29491,89,92,69.596977,237.110886,470.061707,237.943588,29478,29537,93,92,67.434502,309.470886,464.345673,242.305435,47,46
311,29525,29586,94,95,53.303734,246.880539,463.438202,239.490311,29572,29631,94,94,66.021408,321.434692,462.574188,240.499603,47,47
312,29618,29675,93,89,84.248138,230.195480,459.605194,235.059296,29664,29722,92,91,52.905025,318.329193,429.408051,244.571915,46,46
313,29709,29767,91,92,54.450260,221.809631,441.593048,235.707062,29754,29813,90,91,59.355640,281.162964,458.476349,241.423981,45,45
314,29801,29859,92,92,63.114315,229.894882,459.915070,236.513611,29846,29909,92,96,57.027740,313.234283,485.473816,240.162399,45,47

In [244]:
# Get Treadmil Belt Speed
input_val = pd.read_csv('input_val.csv')
input_val = input_val.set_index('Unnamed: 0')
beltspeed = input_val.loc[Subject, 'belt_speed']
beltspeed, type(beltspeed)

(1.03, numpy.float64)

In [280]:
#Calculate Step Length

Rsteplength = []
Lsteplength = []

for idx in strike_df.index:
    if strike_df.loc[0, 'LHSidx'] < strike_df.loc[0, 'RHSidx']:
        if idx == 0:
            Rstep_length = strike_df.loc[idx, 'RHEEX'] - (strike_df.loc[idx, 'LHEEX'] - (beltspeed*strike_df.loc[idx, 'Rstep_time']*10))
            Rsteplength.append(Rstep_length)
            Lsteplength.append(0)
        else:
            Rstep_length = strike_df.loc[idx, 'RHEEX'] - (strike_df.loc[idx, 'LHEEX'] - (beltspeed*strike_df.loc[idx, 'Rstep_time']*10))
            Rsteplength.append(Rstep_length)
            Lstep_length = strike_df.loc[idx, 'LHEEX'] - (strike_df.loc[idx - 1,'RHEEX']-(beltspeed*strike_df.loc[idx, 'Lstep_time']*10))
            Lsteplength.append(Lstep_length)
    else:
        if idx ==0:
            Rsteplength.append(0)
            Lstep_length = strike_df.loc[idx, 'LHEEX'] - (strike_df.loc[idx,'RHEEX']-(beltspeed*strike_df.loc[idx, 'Lstep_time']*10))
            Lsteplength.append(Lstep_length)
        else:
            Rstep_length = strike_df.loc[idx, 'RHEEX'] - (strike_df.loc[idx - 1, 'LHEEX'] - (beltspeed*strike_df.loc[idx, 'Rstep_time']*10))
            Rsteplength.append(Rstep_length)
            Lstep_length = strike_df.loc[idx, 'LHEEX'] - (strike_df.loc[idx,'RHEEX']-(beltspeed*strike_df.loc[idx, 'Lstep_time']*10))
            Lsteplength.append(Lstep_length)
        

strike_df['Rstep_length'] = Rsteplength
strike_df['Lstep_length'] = Lsteplength

strike_df.tail()

,LHSidx,LTOidx,lHSinterval,lTOinterval,LHEEX,LHEEY,LTOEX,LTOEZ,RHSidx,RTOidx,rHSinterval,rTOinterval,RHEEX,RHEEY,RTOEX,RTOEZ,Rstep_time,Lstep_time,Rstep_length,Lstep_length
310,29431,29491,89,92,69.596977,237.110886,470.061707,237.943588,29478,29537,93,92,67.434502,309.470886,464.345673,242.305435,47,46,481.937525,493.188416
311,29525,29586,94,95,53.303734,246.880539,463.438202,239.490311,29572,29631,94,94,66.021408,321.434692,462.574188,240.499603,47,47,496.817674,469.969232
312,29618,29675,93,89,84.248138,230.195480,459.605194,235.059296,29664,29722,92,91,52.905025,318.329193,429.408051,244.571915,46,46,442.456887,492.026730
313,29709,29767,91,92,54.450260,221.809631,441.593048,235.707062,29754,29813,90,91,59.355640,281.162964,458.476349,241.423981,45,45,468.405380,465.045235
314,29801,29859,92,92,63.114315,229.894882,459.915070,236.513611,29846,29909,92,96,57.027740,313.234283,485.473816,240.162399,45,47,457.413425,487.858675

In [281]:
#Calculate Step Width

Rstepwidth = []
Lstepwidth = []

for idx in strike_df.index:
    if strike_df.loc[0, 'LHSidx'] < strike_df.loc[0, 'RHSidx']:
        if idx == 0:
            Rstep_width = abs(strike_df.loc[idx, 'RHEEY'] - (strike_df.loc[idx, 'LHEEY'] - (beltspeed*strike_df.loc[idx, 'Rstep_time']*10)))
            Rstepwidth.append(Rstep_width)
            Lstepwidth.append(0)
        else:
            Rstep_width = abs(strike_df.loc[idx, 'RHEEY'] - (strike_df.loc[idx, 'LHEEY'] - (beltspeed*strike_df.loc[idx, 'Rstep_time']*10)))
            Rstepwidth.append(Rstep_width)
            Lstep_width = abs(strike_df.loc[idx, 'LHEEY'] - (strike_df.loc[idx - 1,'RHEEY']-(beltspeed*strike_df.loc[idx, 'Lstep_time']*10)))
            Lstepwidth.append(Lstep_width)
    else:
        if idx ==0:
            Rstepwidth.append(0)
            Lstep_width = abs(strike_df.loc[idx, 'LHEEY'] - (strike_df.loc[idx,'RHEEY']-(beltspeed*strike_df.loc[idx, 'Lstep_time']*10)))
            Lstepwidth.append(Lstep_width)
        else:
            Rstep_width = abs(strike_df.loc[idx, 'RHEEY'] - (strike_df.loc[idx - 1, 'LHEEY'] - (beltspeed*strike_df.loc[idx, 'Rstep_time']*10)))
            Rstepwidth.append(Rstep_width)
            Lstep_width = abs(strike_df.loc[idx, 'LHEEY'] - (strike_df.loc[idx,'RHEEY']-(beltspeed*strike_df.loc[idx, 'Lstep_time']*10)))
            Lstepwidth.append(Lstep_width)
        

strike_df['Rstep_width'] = Rstepwidth
strike_df['Lstep_width'] = Lstepwidth

strike_df.tail()

,LHSidx,LTOidx,lHSinterval,lTOinterval,LHEEX,LHEEY,LTOEX,LTOEZ,RHSidx,RTOidx,...,RHEEX,RHEEY,RTOEX,RTOEZ,Rstep_time,Lstep_time,Rstep_length,Lstep_length,Rstep_width,Lstep_width
310,29431,29491,89,92,69.596977,237.110886,470.061707,237.943588,29478,29537,...,67.434502,309.470886,464.345673,242.305435,47,46,481.937525,493.188416,556.460000,374.416532
311,29525,29586,94,95,53.303734,246.880539,463.438202,239.490311,29572,29631,...,66.021408,321.434692,462.574188,240.499603,47,47,496.817674,469.969232,558.654153,421.509653
312,29618,29675,93,89,84.248138,230.195480,459.605194,235.059296,29664,29722,...,52.905025,318.329193,429.408051,244.571915,46,46,442.456887,492.026730,561.933713,382.560788
313,29709,29767,91,92,54.450260,221.809631,441.593048,235.707062,29754,29813,...,59.355640,281.162964,458.476349,241.423981,45,45,468.405380,465.045235,522.853333,366.980438
314,29801,29859,92,92,63.114315,229.894882,459.915070,236.513611,29846,29909,...,57.027740,313.234283,485.473816,240.162399,45,47,457.413425,487.858675,546.839401,432.831918

In [283]:
# Calculate Stance time


Rstancetime = []
Lstancetime = []

for idx in strike_df.index:
    if strike_df.loc[0, 'LHSidx'] < strike_df.loc[0, 'LTOidx']:
        Lstance_time = strike_df.loc[idx, 'LTOidx'] - strike_df.loc[idx, 'LHSidx']
        Lstancetime.append(Lstance_time)
        
    else:
        if idx == 0:
            Lstancetime.append(0)
        else:
            Lstance_time = strike_df.loc[idx, 'LTOidx'] - strike_df.loc[idx - 1, 'LHSidx']
            Lstancetime.append(Lstance_time)

for idx in strike_df.index:
    if strike_df.loc[0, 'RHSidx'] < strike_df.loc[0, 'RTOidx']:
        Rstance_time = strike_df.loc[idx, 'RTOidx'] - strike_df.loc[idx, 'RHSidx']
        Rstancetime.append(Rstance_time)
        
    else:
        if idx == 0:
            Rstancetime.append(0)
        else:
            Rstance_time = strike_df.loc[idx, 'RTOidx'] - strike_df.loc[idx - 1, 'RHSidx']
            Rstancetime.append(Rstance_time)
            

strike_df['Rstance_time'] = Rstancetime
strike_df['Lstance_time'] = Lstancetime

strike_df.head()

,LHSidx,LTOidx,lHSinterval,lTOinterval,LHEEX,LHEEY,LTOEX,LTOEZ,RHSidx,RTOidx,...,Rstep_time,Lstep_time,Rstep_length,Lstep_length,Rstep_width,Lstep_width,Rswing_time,Lswing_time,Rstance_time,Lstance_time
0,39,97,55,55,104.303894,219.576691,489.456909,238.956665,85,144,...,46,0,467.805501,0.000000,529.147961,0.000000,0,0,59,58
1,132,189,93,92,92.766647,206.996857,471.096344,239.778244,177,235,...,45,47,456.682312,478.557252,539.539032,416.172205,33,35,58,57
2,223,285,91,96,89.928970,249.730743,509.572571,240.366760,270,334,...,47,46,474.659548,477.780011,550.923975,440.494854,35,34,64,62
3,323,381,100,96,118.946724,223.892303,511.645905,238.043289,368,429,...,45,53,417.546684,584.358206,527.431733,453.237585,34,38,61,58
4,416,475,93,94,78.241684,212.056198,468.778290,238.593948,462,520,...,46,48,474.642361,499.648276,552.918668,418.632162,33,35,58,59

In [282]:
# Calculate Swing time


Rswingtime = []
Lswingtime = []

for idx in strike_df.index:
    if strike_df.loc[0, 'LHSidx'] < strike_df.loc[0, 'LTOidx']:
        if idx == 0:
            Lswingtime.append(0)
        else:
            Lswing_time = strike_df.loc[idx, 'LHSidx'] - strike_df.loc[idx - 1,'LTOidx']
            Lswingtime.append(Lswing_time)
    else:
        Lswing_time = strike_df.loc[idx, 'LHSidx'] - strike_df.loc[idx,'LTOidx']
        Lswingtime.append(Lswing_time)

for idx in strike_df.index:
    if strike_df.loc[0, 'RHSidx'] < strike_df.loc[0, 'RTOidx']:
        if idx == 0:
            Rswingtime.append(0)
        else:
            Rswing_time = strike_df.loc[idx, 'RHSidx'] - strike_df.loc[idx - 1,'RTOidx']
            Rswingtime.append(Rswing_time)
    else:
        Rswing_time = strike_df.loc[idx, 'RHSidx'] - strike_df.loc[idx,'RTOidx']
        Rswingtime.append(Rswing_time)
        
        

strike_df['Rswing_time'] = Rswingtime
strike_df['Lswing_time'] = Lswingtime

strike_df.head()

,LHSidx,LTOidx,lHSinterval,lTOinterval,LHEEX,LHEEY,LTOEX,LTOEZ,RHSidx,RTOidx,...,RTOEX,RTOEZ,Rstep_time,Lstep_time,Rstep_length,Lstep_length,Rstep_width,Lstep_width,Rswing_time,Lswing_time
0,39,97,55,55,104.303894,219.576691,489.456909,238.956665,85,144,...,496.558044,244.778183,46,0,467.805501,0.000000,529.147961,0.000000,0,0
1,132,189,93,92,92.766647,206.996857,471.096344,239.778244,177,235,...,474.737640,238.342560,45,47,456.682312,478.557252,539.539032,416.172205,33,35
2,223,285,91,96,89.928970,249.730743,509.572571,240.366760,270,334,...,521.277588,244.556671,47,46,474.659548,477.780011,550.923975,440.494854,35,34
3,323,381,100,96,118.946724,223.892303,511.645905,238.043289,368,429,...,492.446136,240.875793,45,53,417.546684,584.358206,527.431733,453.237585,34,38
4,416,475,93,94,78.241684,212.056198,468.778290,238.593948,462,520,...,464.129517,240.957901,46,48,474.642361,499.648276,552.918668,418.632162,33,35

In [284]:
#Drop first row if it contains 0

if any(strike_df.iloc[0] == 0):
    strike_df.drop([0], inplace=True)

strike_df = strike_df.reset_index(drop=True)
strike_df.head()

,LHSidx,LTOidx,lHSinterval,lTOinterval,LHEEX,LHEEY,LTOEX,LTOEZ,RHSidx,RTOidx,...,Rstep_time,Lstep_time,Rstep_length,Lstep_length,Rstep_width,Lstep_width,Rswing_time,Lswing_time,Rstance_time,Lstance_time
0,132,189,93,92,92.766647,206.996857,471.096344,239.778244,177,235,...,45,47,456.682312,478.557252,539.539032,416.172205,33,35,58,57
1,223,285,91,96,89.928970,249.730743,509.572571,240.366760,270,334,...,47,46,474.659548,477.780011,550.923975,440.494854,35,34,64,62
2,323,381,100,96,118.946724,223.892303,511.645905,238.043289,368,429,...,45,53,417.546684,584.358206,527.431733,453.237585,34,38,61,58
3,416,475,93,94,78.241684,212.056198,468.778290,238.593948,462,520,...,46,48,474.642361,499.648276,552.918668,418.632162,33,35,58,59
4,508,567,92,92,58.894993,216.287552,460.003326,238.555023,554,612,...,46,46,464.294121,453.610948,548.206814,398.912686,34,33,58,59

In [285]:
# Calculate stride time

Rstridetime = []
Lstridetime = []

for idx in strike_df.index:
    if strike_df.loc[0, 'LHSidx'] < strike_df.loc[0, 'RHSidx']:
        if idx == 0:
            Rstridetime.append(0)
            Lstridetime.append(0)
        else:
            Rstride_time = strike_df.loc[idx - 1, 'Lstep_time'] + strike_df.loc[idx, 'Rstep_time']
            Rstridetime.append(Rstride_time)
            Lstride_time = strike_df.loc[idx - 1, 'Rstep_time'] + strike_df.loc[idx, 'Lstep_time']
            Lstridetime.append(Lstride_time)
    else:
        if idx ==0:
            Rstridetime.append(0)
            Lstridetime.append(0)
        else:
            Rstride_time = strike_df.loc[idx - 1, 'Lstep_time'] + strike_df.loc[idx, 'Rstep_time']
            Rstridetime.append(Rstride_time)
            Lstride_time = strike_df.loc[idx - 1, 'Rstep_time'] + strike_df.loc[idx, 'Lstep_time']
            Lstridetime.append(Lstride_time)
        

strike_df['Rstride_time'] = Rstridetime
strike_df['Lstride_time'] = Lstridetime

strike_df.head()

,LHSidx,LTOidx,lHSinterval,lTOinterval,LHEEX,LHEEY,LTOEX,LTOEZ,RHSidx,RTOidx,...,Rstep_length,Lstep_length,Rstep_width,Lstep_width,Rswing_time,Lswing_time,Rstance_time,Lstance_time,Rstride_time,Lstride_time
0,132,189,93,92,92.766647,206.996857,471.096344,239.778244,177,235,...,456.682312,478.557252,539.539032,416.172205,33,35,58,57,0,0
1,223,285,91,96,89.928970,249.730743,509.572571,240.366760,270,334,...,474.659548,477.780011,550.923975,440.494854,35,34,64,62,94,91
2,323,381,100,96,118.946724,223.892303,511.645905,238.043289,368,429,...,417.546684,584.358206,527.431733,453.237585,34,38,61,58,91,100
3,416,475,93,94,78.241684,212.056198,468.778290,238.593948,462,520,...,474.642361,499.648276,552.918668,418.632162,33,35,58,59,99,93
4,508,567,92,92,58.894993,216.287552,460.003326,238.555023,554,612,...,464.294121,453.610948,548.206814,398.912686,34,33,58,59,94,92

In [286]:
# Calculate stride length

Rstridelength = []
Lstridelength = []

for idx in strike_df.index:
    if strike_df.loc[0, 'LHSidx'] < strike_df.loc[0, 'RHSidx']:
        if idx == 0:
            Rstridelength.append(0)
            Lstridelength.append(0)
        else:
            Rstride_length = strike_df.loc[idx - 1, 'Lstep_length'] + strike_df.loc[idx, 'Rstep_length']
            Rstridelength.append(Rstride_length)
            Lstride_length = strike_df.loc[idx - 1, 'Rstep_length'] + strike_df.loc[idx, 'Lstep_length']
            Lstridelength.append(Lstride_length)
    else:
        if idx ==0:
            Rstridelength.append(0)
            Lstridelength.append(0)
        else:
            Rstride_length = strike_df.loc[idx - 1, 'Lstep_length'] + strike_df.loc[idx, 'Rstep_length']
            Rstridelength.append(Rstride_length)
            Lstride_length = strike_df.loc[idx - 1, 'Rstep_length'] + strike_df.loc[idx, 'Lstep_length']
            Lstridelength.append(Lstride_length)
        

strike_df['Rstride_length'] = Rstridelength
strike_df['Lstride_length'] = Lstridelength

strike_df.head()

,LHSidx,LTOidx,lHSinterval,lTOinterval,LHEEX,LHEEY,LTOEX,LTOEZ,RHSidx,RTOidx,...,Rstep_width,Lstep_width,Rswing_time,Lswing_time,Rstance_time,Lstance_time,Rstride_time,Lstride_time,Rstride_length,Lstride_length
0,132,189,93,92,92.766647,206.996857,471.096344,239.778244,177,235,...,539.539032,416.172205,33,35,58,57,0,0,0.000000,0.000000
1,223,285,91,96,89.928970,249.730743,509.572571,240.366760,270,334,...,550.923975,440.494854,35,34,64,62,94,91,953.216800,934.462323
2,323,381,100,96,118.946724,223.892303,511.645905,238.043289,368,429,...,527.431733,453.237585,34,38,61,58,91,100,895.326695,1059.017754
3,416,475,93,94,78.241684,212.056198,468.778290,238.593948,462,520,...,552.918668,418.632162,33,35,58,59,99,93,1059.000567,917.194960
4,508,567,92,92,58.894993,216.287552,460.003326,238.555023,554,612,...,548.206814,398.912686,34,33,58,59,94,92,963.942397,928.253309

In [ ]:
# Calculate minimum toe clearnace

In [288]:
strike_df.Rstride_time.iloc[1:].mean()

94.78913738019169

In [289]:
strike_df.Rstride_time.mean()

94.48726114649682

In [191]:

step = ['Rstep_time','Rstep_length','Lstep_time','Lstep_length']
rows = []

for col in step:
    df_attr = getattr(strike_df, col)
    row = pd.DataFrame({filename+"_Avg":[df_attr.mean()], 
                        filename+"_SD":[df_attr.std()]
                       }, index = [col])
    rows.append(row)

step_df = pd.concat(rows)
step_df

              G01Trial01B_Avg  G01Trial01B_SD
Rstep_time          46.695238        1.560605
Rstep_length       468.700880       28.280510
Lstep_time          47.930159        3.215440
Lstep_length       505.790624       44.194054

In [26]:
if not os.path.exists('step.csv'):
    step_df.to_csv('step.csv', index=step, mode='w')
else:
    step_df.to_csv('step.csv', index=step, mode='a')

In [246]:
#step_df.to_csv('./step.csv', index=False)
#step = open('step.csv',"w")
#step

In [248]:
#step_df2 = pd.concat([step, step_df], axis=1)
#step_df2