In [4]:
# Import necessary packages
import pandas as pd
import numpy as np
import os,sys

In [3]:
# Check current working directory
os.getcwd()

'/Users/yeonjoo/Downloads/Unilateral_foot'

In [116]:
# Change directory if necessary
#newdirectory = input("Path: ")
#os.chdir(newdirectory)
#os.getcwd()

In [70]:
# File import by filename
Subject = input("Subject: ")
Trial = input("Trial: ")
filename = Subject + "Trial"+ Trial

#df = pd.read_csv(filename +'.csv')

Subject: B04
Trial: 03A75

In [89]:
df = pd.read_csv(filename +'.csv')
df.head(50)

,LHEEX,LHEEY,LHEEZ,LTOEX,LTOEY,LTOEZ,RHEEX,RHEEY,RHEEZ,RTOEX,RTOEY,RTOEZ
0,0.000000,0.000000,0.000000,-66.080826,-1034.067871,247.678665,-183.965057,-634.539978,258.335754,-180.281052,-790.980286,224.705109
1,0.000000,0.000000,0.000000,-65.023438,-1045.338379,251.699921,-183.899933,-629.396240,258.582184,-180.318497,-785.609741,224.631729
2,0.000000,0.000000,0.000000,-63.700684,-1058.569214,256.761658,-183.861832,-622.956787,258.986816,-180.339340,-778.852600,224.548889
3,0.000000,0.000000,0.000000,-62.206760,-1072.697510,262.533752,-183.874924,-615.484863,259.585327,-180.335480,-770.977966,224.461960
4,0.000000,0.000000,0.000000,-60.676556,-1086.564453,268.493073,-183.960648,-607.291931,260.398346,-180.305130,-762.308105,224.374603
5,0.000000,0.000000,0.000000,-59.255188,-1099.137695,273.993225,-184.135452,-598.670837,261.428650,-180.252151,-753.140503,224.288849
6,0.000000,0.000000,0.000000,-58.068588,-1109.633057,278.365265,-184.409134,-589.861694,262.672302,-180.185745,-743.712463,224.205307
7,0.000000,0.000000,0.000000,-57.203476,-1117.565308,281.036896,-184.782715,-581.037781,264.137543,-180.119202,-734.192810,224.123718
8,0.000000,0.000000,0.000000,-56.701466,-1122.748657,281.645172,-185.246948,-572.312317,265.855957,-180.063751,-724.689758,224.043137
9,0.000000,0.000000,0.000000,-56.562683,-1125.255005,280.105042,-185.780746,-563.758667,267.883942,-180.022873,-715.266602,223.961533
10,0.000000,0.000000,0.000000,-56.752048,-1125.338745,276.601837,-186.348663,-555.432983,270.298431,-179.993774,-705.954590,223.875015
11,0.000000,0.000000,0.000000,-57.207542,-1123.356445,271.520142,-186.901352,-547.391174,273.191650,-179.972717,-696.765747,223.777115
12,0.000000,0.000000,0.000000,-57.850315,-1119.697266,265.360565,-187.380783,-539.704956,276.662811,-179.958237,-687.700562,223.659119
13,0.000000,0.000000,0.000000,-58.593681,-1114.729980,258.682068,-187.726273,-532.471985,280.807007,-179.951813,-678.753906,223.511139
14,0.000000,0.000000,0.000000,-59.352146,-1108.772217,252.046890,-187.879303,-525.821655,285.704254,-179.957214,-669.917480,223.323502
15,0.000000,0.000000,0.000000,-60.052212,-1102.074707,245.938797,-187.789536,-519.916687,291.405792,-179.978455,-661.182556,223.088501
16,0.000000,0.000000,0.000000,-60.639809,-1094.822266,240.689041,-187.422104,-514.951111,297.920837,-180.017258,-652.544739,222.803909
17,0.000000,0.000000,0.000000,-61.079639,-1087.139771,236.460876,-186.762634,-511.139984,305.208191,-180.071365,-644.010498,222.478836
18,0.000000,0.000000,0.000000,-61.352161,-1079.108643,233.275299,-185.818863,-508.701813,313.177094,-180.135666,-635.609497,222.143509
19,0.000000,0.000000,0.000000,-61.454971,-1070.786377,231.039566,-184.619507,-507.834961,321.693756,-180.203766,-627.411255,221.860291
20,0.000000,0.000000,0.000000,-61.403587,-1062.221191,229.582397,-183.208694,-508.690247,330.593781,-180.269028,-619.540344,221.731094
21,0.000000,0.000000,0.000000,-61.223709,-1053.460205,228.702682,-181.635895,-511.339600,339.698059,-180.326050,-612.189880,221.898987
22,0.000000,0.000000,0.000000,-60.941540,-1044.549194,228.213226,-179.942154,-515.749939,348.828766,-180.376282,-605.641052,222.541840
23,0.000000,0.000000,0.000000,-60.583496,-1035.526489,227.964539,-178.146286,-521.773193,357.823242,-180.438156,-600.284485,223.850906
24,0.000000,0.000000,0.000000,-60.180256,-1026.422852,227.849472,-176.236633,-529.163574,366.539215,-180.548645,-596.605774,225.986069
25,0.000000,0.000000,0.000000,-59.764774,-1017.263672,227.796539,-174.173462,-537.625305,374.848389,-180.742844,-595.101318,229.018219
26,0.000000,0.000000,0.000000,-59.366394,-1008.071777,227.760910,-171.905716,-546.877441,382.623352,-181.019272,-596.153320,232.887939
27,0.000000,0.000000,0.000000,-59.007851,-998.867493,227.717438,-169.396347,-556.706116,389.726868,-181.312531,-599.940247,237.403458
28,0.000000,0.000000,0.000000,-58.705311,-989.665894,227.654785,-166.644928,-566.979858,396.015930,-181.490662,-606.424622,242.277344
29,0.000000,0.000000,0.000000,-58.468681,-980.476685,227.570587,-163.698929,-577.630005,401.356964,-181.380188,-615.403748,247.181427
30,0.000000,0.000000,0.000000,-58.301018,-971.305481,227.468216,-160.646103,-588.619751,405.641144,-180.808136,-626.578125,251.797287
31,0.000000,0.000000,0.000000,-58.197784,-962.155212,227.353668,-157.589691,-599.923157,408.787811,-179.646011,-639.617249,255.852219
32,0.000000,0.000000,0.000000,-58.148079,-953.026550,227.232956,-154.621124,-611.515930,410.739532,-177.840820,-654.214050,259.143921
33,0.000000,0.000000,0.000000,-58.137794,-943.918152,227.110153,-151.803482,-623.377563,411.458435,-175.422714,-670.121155,261.556488
34,0.000000,0.000000,0.000000,-58.152828,-934.827332,226.986893,-149.164871,-635.496582,410.924988,-172.489792,-687.161865,263.057983
35,0.000000,0.000000,0.000000,-58.181370,-925.750916,226.863892,-146.700897,-647.875977,409.134583,-169.182816,-705.210876,263.677368
36,0.000000,0.000000,0.000000,-58.215012,-916.687073,226.741119,-144.385452,-660.536682,406.094177,-165.661804,-724.167542,263.476898
37,0.000000,0.000000,0.000000,-58.248516,-907.635315,226.617004,-142.185532,-673.519592,401.824036,-162.086090,-743.938110,262.534058
38,0.000000,0.000000,0.000000,-58.280022,-898.596313,226.488312,-140.075623,-686.880737,396.362396,-158.599777,-764.428772,260.934174
39,0.000000,0.000000,0.000000,-58.312099,-889.570190,226.351089,-138.049911,-700.681152,389.768982,-155.326523,-785.549255,258.772614
40,0.000000,0.000000,0.000000,-58.351521,-880.556396,226.202026,-136.128937,-714.978149,382.126617,-152.372528,-807.220398,256.162628
41,0.000000,0.000000,0.000000,-58.406471,-871.553345,226.040146,-134.357635,-729.821228,373.540497,-149.828964,-829.380493,253.242020
42,-56.512543,-700.618896,252.860550,-58.482601,-862.557068,225.870285,-132.793121,-745.251587,364.137421,-147.770172,-851.983215,250.173447
43,-56.870281,-695.423828,253.225204,-58.579952,-853.557678,225.705780,-131.484985,-761.307251,354.065247,-146.252487,-874.992188,247.140228
44,-57.297039,-688.902954,253.705948,-58.691380,-844.537537,225.565933,-130.461105,-778.024292,343.493286,-145.314575,-898.375488,244.340073
45,-57.754681,-681.325623,254.295563,-58.802570,-835.472656,225.468460,-129.730347,-795.431763,332.615143,-144.970886,-922.093506,241.981537
46,-58.202053,-673.011536,254.985062,-58.896614,-826.344055,225.421310,-129.293015,-813.534973,321.648529,-145.199249,-946.078247,240.283447
47,-58.609314,-664.249878,255.771393,-58.961979,-817.151245,225.416931,-129.145767,-832.294312,310.831787,-145.935150,-970.211792,239.470688
48,-58.964497,-655.260071,256.661285,-58.995262,-807.909790,225.434448,-129.282135,-851.603333,300.416504,-147.079132,-994.310608,239.755875
49,-59.271160,-646.187744,257.668884,-58.996895,-798.638245,225.449936,-129.690353,-871.272034,290.654724,-148.509567,-1018.117188,241.306076

In [90]:
df1 = df.drop(df.index[:42])
df1.reset_index(drop=True)
df1.head()

,LHEEX,LHEEY,LHEEZ,LTOEX,LTOEY,LTOEZ,RHEEX,RHEEY,RHEEZ,RTOEX,RTOEY,RTOEZ
42,-56.512543,-700.618896,252.860550,-58.482601,-862.557068,225.870285,-132.793121,-745.251587,364.137421,-147.770172,-851.983215,250.173447
43,-56.870281,-695.423828,253.225204,-58.579952,-853.557678,225.705780,-131.484985,-761.307251,354.065247,-146.252487,-874.992188,247.140228
44,-57.297039,-688.902954,253.705948,-58.691380,-844.537537,225.565933,-130.461105,-778.024292,343.493286,-145.314575,-898.375488,244.340073
45,-57.754681,-681.325623,254.295563,-58.802570,-835.472656,225.468460,-129.730347,-795.431763,332.615143,-144.970886,-922.093506,241.981537
46,-58.202053,-673.011536,254.985062,-58.896614,-826.344055,225.421310,-129.293015,-813.534973,321.648529,-145.199249,-946.078247,240.283447

In [73]:
# Use Only!!!!!!! When first rows are "0"!!!!!!!!!!
#df.drop([0,1], inplace=True)
#df = df.reset_index(drop=True)
#df.head()

In [83]:
# Calculate Heel Marker Velocity
col_names = ['LHEEY','RHEEY', 'LTOEY', 'RTOEY']
name_rows_dict1 = {}

for col in col_names:
    vel_rows = []
    for idx, value in enumerate(df[col]):
        if idx == 0:
            vel_rows.append(0)
        else:
            vel_row = (df.loc[idx,col] - df.loc[idx-1,col])*100
            vel_rows.append(vel_row)
    name_rows_dict1[col] = vel_rows

vel_df = pd.DataFrame(name_rows_dict1)
vel_df = vel_df.drop(0)
vel_df = vel_df.reset_index(drop=True)
vel_df.head(10)

   LHEEY     RHEEY      LTOEY     RTOEY
0    0.0  514.3738 -1127.0508  537.0545
1    0.0  643.9453 -1323.0835  675.7141
2    0.0  747.1924 -1412.8296  787.4634
3    0.0  819.2932 -1386.6943  866.9861
4    0.0  862.1094 -1257.3242  916.7602
5    0.0  880.9143 -1049.5362  942.8040
6    0.0  882.3913  -793.2251  951.9653
7    0.0  872.5464  -518.3349  950.3052
8    0.0  855.3650  -250.6348  942.3156
9    0.0  832.5684    -8.3740  931.2012

In [43]:
# Identify Left Heel Strike
name_rows_dict2 = {}

lstrike_rows = []
for idx, value in enumerate(vel_df['LHEEY']):
    if idx == 0:
        idx = idx + 1
    else:
        if vel_df.loc[idx, 'LHEEY'] < 0:
            idx = idx + 1 
        else:
            if vel_df.loc[idx - 1, 'LHEEY'] > 0:
                idx = idx + 1 
            else:
                lstrike_rows.append(idx - 1)
            
name_rows_dict2['LHSidx'] = lstrike_rows

lstrike_df = pd.DataFrame(name_rows_dict2)
lstrike_df.head()

   LHSidx
0       0
1       1
2       2
3       3
4       4

In [8]:
# Identify left side repeated step (first interval default 50)

lefts = []
for idx in lstrike_df.index:
    if idx == 0:
        lefts.append(55)
    else:
        left = (lstrike_df.loc[idx, 'LHSidx']- lstrike_df.loc[idx - 1, 'LHSidx'])
        lefts.append(left)

lstrike_df['lHSinterval'] = lefts
lstrike_df.head(), lstrike_df['lHSinterval'].unique(), lstrike_df.count()

(   LHSidx  lHSinterval
 0      21           55
 1     124          103
 2     219           95
 3     317           98
 4     416           99,
 array([ 55, 103,  95,  98,  99,  96, 105, 104, 102, 110, 114, 113, 116,
        117, 118, 115, 112, 120, 108, 106, 109, 107, 111, 119, 100,  90,
         94, 145, 129, 121, 125, 101,  97,  93,  61,  88,  89, 126, 123,
         69,  92]),
 LHSidx         289
 lHSinterval    289
 dtype: int64)

In [10]:
#Drop left side repeated step
for idx, row in lstrike_df.iterrows():
    if row['lHSinterval'] < 55:
        lstrike_df.drop(idx, inplace=True)


lstrike_df.head(), lstrike_df['lHSinterval'].unique(), lstrike_df.count()

(   LHSidx  lHSinterval
 0      21           55
 1     124          103
 2     219           95
 3     317           98
 4     416           99,
 array([ 55, 103,  95,  98,  99,  96, 105, 104, 102, 110, 114, 113, 116,
        117, 118, 115, 112, 120, 108, 106, 109, 107, 111, 119, 100,  90,
         94, 145, 129, 121, 125, 101,  97,  93,  61,  88,  89, 126, 123,
         69,  92]),
 LHSidx         289
 lHSinterval    289
 dtype: int64)

In [790]:
#lstrike_df.index[(lstrike_df['lHSinterval']== 76)]

Int64Index([181], dtype='int64')

In [791]:
#lstrike_df.iloc[181]

LHSidx         25048
lHSinterval       70
Name: 182, dtype: int64

In [792]:
#lstrike_df1 = lstrike_df.drop(181)

In [794]:
#lstrike_df1.iloc[175:185]

     LHSidx  lHSinterval
176   24348          147
177   24481          133
178   24626          145
179   24764          138
180   24902          138
182   25048           70
183   25185          137
184   25318          133
185   25452          134
186   25585          133

In [696]:
#lstrike_df.index[(lstrike_df['lHSinterval']== 83)]

Int64Index([172], dtype='int64')

In [657]:
#lstrike_df.iloc[170:175]

     LHSidx  lHSinterval
170   23658          141
171   23787          129
172   23841           54
173   23924           83
174   24064          140

In [697]:
#rstrike_df.iloc[170:175]

     RHSidx  rHSinterval       RHSval
170   23592          136 -1287.027588
171   23726          134 -1306.150635
172   23854          128 -1297.627930
173   23998          144 -1260.252075
174   24132          134 -1287.034058

In [11]:
# Reset the index
lstrike_df = lstrike_df.reset_index(drop=True)
lstrike_df.head()

   LHSidx  lHSinterval
0      21           55
1     124          103
2     219           95
3     317           98
4     416           99

In [12]:
# Get trajectory for left heelstrike
LHSval = pd.DataFrame(df.loc[lstrike_df['LHSidx'], 'LHEEY'])
LHSval_reidx = LHSval.reset_index().drop(columns=['index'])

lstrike_df['LHSval'] = LHSval_reidx['LHEEY']
lstrike_df.head()

   LHSidx  lHSinterval       LHSval
0      21           55  -975.782898
1     124          103  -956.937134
2     219           95  -988.669861
3     317           98 -1004.456421
4     416           99  -957.823059

In [14]:
#NEW!!!! #Identify right heel strike
name_rows_dict3 = {}

rstrike_rows = []
for idx, value in enumerate(vel_df['RHEEY']):
    if idx == 0:
        idx = idx + 1
    else:
        if vel_df.loc[idx, 'RHEEY'] < 0:
            idx = idx + 1 
        else:
            if vel_df.loc[idx - 1, 'RHEEY'] > 0:
                idx = idx + 1 
            else:
                rstrike_rows.append(idx - 1)
            
name_rows_dict3['RHSidx'] = rstrike_rows

rstrike_df = pd.DataFrame(name_rows_dict3)
rstrike_df.head()

   RHSidx
0       0
1       2
2      74
3     171
4     269

In [15]:
# Identify right side repeated step (first interval default 50)

rights = []
for idx in rstrike_df.index:
    if idx == 0:
        rights.append(50)
    else:
        right = (rstrike_df.loc[idx, 'RHSidx']- rstrike_df.loc[idx - 1, 'RHSidx'])
        rights.append(right)

rstrike_df['rHSinterval'] = rights
rstrike_df.head(), rstrike_df['rHSinterval'].unique(),  rstrike_df.count()

(   RHSidx  rHSinterval
 0       0           50
 1       2            2
 2      74           72
 3     171           97
 4     269           98,
 array([ 50,   2,  72,  97,  98, 100, 102, 103,  99, 108, 112, 114, 117,
        115, 119, 118, 113, 111, 110, 116, 109, 107, 106, 105,  89, 133,
        139, 121, 124, 122,  96, 104, 101,  95,  69,  77,  91, 125, 126,
        130, 128,  80,  52,  94,  83]),
 RHSidx         291
 rHSinterval    291
 dtype: int64)

In [32]:
#Drop right side repeated step
for idx, row in rstrike_df.iterrows():
    if row['rHSinterval'] < 55:
        rstrike_df.drop(idx, inplace=True)

rstrike_df.head(), rstrike_df['rHSinterval'].unique(), rstrike_df.count()

(   RHSidx  rHSinterval      RHSval
 0      74           72 -956.168823
 1     171           97 -986.631653
 2     269           98 -996.424438
 3     366           97 -977.693726
 4     466          100 -955.453979,
 array([ 72,  97,  98, 100, 102, 103,  99, 108, 112, 114, 117, 115, 119,
        118, 113, 111, 110, 116, 109, 107, 106, 105,  89, 133, 139, 121,
        124, 122,  96, 104, 101,  95,  69,  77,  91, 125, 126, 130, 128,
         80,  94,  83]),
 RHSidx         288
 rHSinterval    288
 RHSval         288
 dtype: int64)

In [33]:
# Reset the index
rstrike_df = rstrike_df.reset_index(drop=True)
rstrike_df.head()

   RHSidx  rHSinterval      RHSval
0      74           72 -956.168823
1     171           97 -986.631653
2     269           98 -996.424438
3     366           97 -977.693726
4     466          100 -955.453979

In [35]:
# Get trajectory for Right heelstrike
RHSval = pd.DataFrame(df.loc[rstrike_df['RHSidx'], 'RHEEY'])
RHSval_reidx = RHSval.reset_index().drop(columns=['index'])

rstrike_df['RHSval'] = RHSval_reidx['RHEEY']
rstrike_df.head()

   RHSidx  rHSinterval      RHSval
0      74           72 -956.168823
1     171           97 -986.631653
2     269           98 -996.424438
3     366           97 -977.693726
4     466          100 -955.453979

In [36]:
strike_df = pd.merge(lstrike_df, rstrike_df, left_index = True, right_index = True)
strike_df.head()

   LHSidx  lHSinterval       LHSval  RHSidx  rHSinterval      RHSval
0      21           55  -975.782898      74           72 -956.168823
1     124          103  -956.937134     171           97 -986.631653
2     219           95  -988.669861     269           98 -996.424438
3     317           98 -1004.456421     366           97 -977.693726
4     416           99  -957.823059     466          100 -955.453979

In [37]:
# Calculate step time


Rsteptime = []
Lsteptime = []

for idx in strike_df.index:
    if strike_df.loc[0, 'LHSidx'] < strike_df.loc[0, 'RHSidx']:
        if idx == 0:
            Rstep_time = strike_df.loc[idx, 'RHSidx'] - strike_df.loc[idx, 'LHSidx']
            Rsteptime.append(Rstep_time)
            Lsteptime.append(0)
        else:
            Rstep_time = strike_df.loc[idx, 'RHSidx'] - strike_df.loc[idx, 'LHSidx']
            Rsteptime.append(Rstep_time)
            Lstep_time = strike_df.loc[idx, 'LHSidx'] - strike_df.loc[idx - 1,'RHSidx']
            Lsteptime.append(Lstep_time)
    else:
        if idx ==0:
            Rsteptime.append(0)
            Lstep_time = strike_df.loc[idx, 'LHSidx'] - strike_df.loc[idx,'RHSidx']
            Lsteptime.append(Lstep_time)
        else:
            Rstep_time = strike_df.loc[idx, 'RHSidx'] - strike_df.loc[idx - 1, 'LHSidx']
            Rsteptime.append(Rstep_time)
            Lstep_time = strike_df.loc[idx, 'LHSidx'] - strike_df.loc[idx,'RHSidx']
            Lsteptime.append(Lstep_time)
        

strike_df['Rstep_time'] = Rsteptime
strike_df['Lstep_time'] = Lsteptime

strike_df.iloc[200:220]

,LHSidx,lHSinterval,LHSval,RHSidx,rHSinterval,RHSval,Rstep_time,Lstep_time
200,20948,103,-930.524780,20998,101,-925.828247,50,51
201,21049,101,-911.345276,21101,103,-890.973816,52,51
202,21151,102,-899.434814,21201,100,-882.936951,50,50
203,21254,103,-874.765320,21304,103,-877.928162,50,53
204,21352,98,-914.213501,21401,97,-937.492432,49,48
205,21451,99,-926.283386,21503,102,-873.831604,52,50
206,21564,113,-779.341370,21622,119,-760.383850,58,61
207,21683,119,-755.212219,21747,125,-757.791321,64,61
208,21801,118,-805.790527,21861,114,-809.068481,60,54
209,21926,125,-795.755920,21987,126,-839.603760,61,65
210,22055,129,-803.686951,22117,130,-829.713806,62,68
211,22181,126,-809.624146,22245,128,-758.039917,64,64
212,22304,123,-795.660095,22363,118,-819.239990,59,59
213,22425,121,-844.043396,22443,80,-257.750153,18,62
214,22550,125,-810.157227,22609,114,-816.424011,59,107
215,22667,117,-799.688293,22726,117,-757.960632,59,58
216,22783,116,-760.500488,22835,109,-773.096802,52,57
217,22886,103,-805.095154,22942,107,-792.422485,56,51
218,22996,110,-811.636841,23046,104,-830.370972,50,54
219,23100,104,-818.976074,23151,105,-800.194031,51,54

In [21]:
# Calculate step time 2
Rsteptime = []
Lsteptime = []

for idx in strike_df.index:
    if idx == 0:
        if strike_df.loc[0, 'LHSidx'] < strike_df.loc[0, 'RHSidx']:
            Rstep_time = strike_df.loc[idx, 'RHSidx'] - strike_df.loc[idx, 'LHSidx']
            Rsteptime.append(Rstep_time)
            Lsteptime.append(0)
        else:
            Rsteptime.append(0)
            Lstep_time = strike_df.loc[idx, 'LHSidx'] - strike_df.loc[idx,'RHSidx']
            Lsteptime.append(Lstep_time)          
    else:
        if strike_df.loc[0, 'LHSidx'] < strike_df.loc[0, 'RHSidx']:
            Rstep_time = strike_df.loc[idx, 'RHSidx'] - strike_df.loc[idx, 'LHSidx']
            Rsteptime.append(Rstep_time)
            Lstep_time = strike_df.loc[idx, 'LHSidx'] - strike_df.loc[idx - 1,'RHSidx']
            Lsteptime.append(Lstep_time)
        else:
            Rstep_time = strike_df.loc[idx, 'RHSidx'] - strike_df.loc[idx - 1, 'LHSidx']
            Rsteptime.append(Rstep_time)
            Lstep_time = strike_df.loc[idx, 'LHSidx'] - strike_df.loc[idx,'RHSidx']
            Lsteptime.append(Lstep_time)
        

strike_df['Rstep_time'] = Rsteptime
strike_df['Lstep_time'] = Lsteptime

strike_df.tail()

,LHSidx,lHSinterval,LHSval,RHSidx,rHSinterval,RHSval,Rstep_time,Lstep_time
284,29560,102,-1042.040894,29406,100,-1034.677124,-52,154
285,29664,104,-1056.561523,29509,103,-1033.420654,-51,155
286,29762,98,-1071.095947,29610,101,-1059.491821,-54,152
287,29862,100,-1071.679810,29713,103,-1078.130005,-49,149
288,29965,103,-1006.976135,29813,100,-1079.105835,-49,152

In [895]:
# Get Treadmil Belt Speed
input_val = pd.read_csv('input_val.csv')
input_val = input_val.set_index('Unnamed: 0')
beltspeed = input_val.loc[Subject, 'belt_speed']
beltspeed, type(beltspeed)

(0.54, numpy.float64)

In [896]:
#Calculate Step Length

Rsteplength = []
Lsteplength = []

for idx in strike_df.index:
    if strike_df.loc[0, 'LHSidx'] < strike_df.loc[0, 'RHSidx']:
        if idx == 0:
            Rstep_length = strike_df.loc[idx, 'RHSval'] - (strike_df.loc[idx, 'LHSval'] - (beltspeed*strike_df.loc[idx, 'Rstep_time']*10))
            Rsteplength.append(Rstep_length)
            Lsteplength.append(0)
        else:
            Rstep_length = strike_df.loc[idx, 'RHSval'] - (strike_df.loc[idx, 'LHSval'] - (beltspeed*strike_df.loc[idx, 'Rstep_time']*10))
            Rsteplength.append(Rstep_length)
            Lstep_length = strike_df.loc[idx, 'LHSval'] - (strike_df.loc[idx - 1,'RHSval']-(beltspeed*strike_df.loc[idx, 'Lstep_time']*10))
            Lsteplength.append(Lstep_length)
    else:
        if idx ==0:
            Rsteplength.append(0)
            Lstep_length = strike_df.loc[idx, 'LHSval'] - (strike_df.loc[idx,'RHSval']-(beltspeed*strike_df.loc[idx, 'Lstep_time']*10))
            Lsteplength.append(Lstep_length)
        else:
            Rstep_length = strike_df.loc[idx, 'RHSval'] - (strike_df.loc[idx - 1, 'LHSval'] - (beltspeed*strike_df.loc[idx, 'Rstep_time']*10))
            Rsteplength.append(Rstep_length)
            Lstep_length = strike_df.loc[idx, 'LHSval'] - (strike_df.loc[idx,'RHSval']-(beltspeed*strike_df.loc[idx, 'Lstep_time']*10))
            Lsteplength.append(Lstep_length)
        

strike_df['Rstep_length'] = Rsteplength
strike_df['Lstep_length'] = Lsteplength

strike_df.tail()

,LHSidx,lHSinterval,LHSval,RHSidx,rHSinterval,RHSval,Rstep_time,Lstep_time,Rstep_length,Lstep_length
206,29384,156,-1299.689209,29315,169,-1286.771484,87,69,480.572217,359.682275
207,29518,134,-1371.113037,29450,135,-1323.295654,66,68,332.793555,319.382617
208,29658,140,-1346.955200,29587,137,-1360.916748,69,71,382.796289,397.361548
209,29790,132,-1324.000610,29721,134,-1268.549438,63,69,418.605762,317.148828
210,29937,147,-1289.959839,29860,139,-1266.405518,70,77,435.595092,392.245679

In [897]:
#Calculate Step Length 2
Rsteplength = []
Lsteplength = []

for idx in strike_df.index:
    if idx == 0:
        if strike_df.loc[0, 'LHSidx'] < strike_df.loc[0, 'RHSidx']:
            Rstep_length = strike_df.loc[idx, 'RHSval'] - (strike_df.loc[idx, 'LHSval'] - (beltspeed*strike_df.loc[idx, 'Rstep_time']*10))
            Rsteplength.append(Rstep_length)
            Lsteplength.append(0)
        else:
            Rsteplength.append(0)
            Lstep_length = strike_df.loc[idx, 'LHSval'] - (strike_df.loc[idx,'RHSval']-(beltspeed*strike_df.loc[idx, 'Lstep_time']*10))
            Lsteplength.append(Lstep_length)
            
    else:
        if strike_df.loc[0, 'LHSidx'] < strike_df.loc[0, 'RHSidx']:
            Rstep_length = strike_df.loc[idx, 'RHSval'] - (strike_df.loc[idx, 'LHSval'] - (beltspeed*strike_df.loc[idx, 'Rstep_time']*10))
            Rsteplength.append(Rstep_length)
            Lstep_length = strike_df.loc[idx, 'LHSval'] - (strike_df.loc[idx - 1,'RHSval']-(beltspeed*strike_df.loc[idx, 'Lstep_time']*10))
            Lsteplength.append(Lstep_length)
        else:
            Rstep_length = strike_df.loc[idx, 'RHSval'] - (strike_df.loc[idx - 1, 'LHSval'] - (beltspeed*strike_df.loc[idx, 'Rstep_time']*10))
            Rsteplength.append(Rstep_length)
            Lstep_length = strike_df.loc[idx, 'LHSval'] - (strike_df.loc[idx,'RHSval']-(beltspeed*strike_df.loc[idx, 'Lstep_time']*10))
            Lsteplength.append(Lstep_length)
        

strike_df['Rstep_length'] = Rsteplength
strike_df['Lstep_length'] = Lsteplength

strike_df.tail()

,LHSidx,lHSinterval,LHSval,RHSidx,rHSinterval,RHSval,Rstep_time,Lstep_time,Rstep_length,Lstep_length
206,29384,156,-1299.689209,29315,169,-1286.771484,87,69,480.572217,359.682275
207,29518,134,-1371.113037,29450,135,-1323.295654,66,68,332.793555,319.382617
208,29658,140,-1346.955200,29587,137,-1360.916748,69,71,382.796289,397.361548
209,29790,132,-1324.000610,29721,134,-1268.549438,63,69,418.605762,317.148828
210,29937,147,-1289.959839,29860,139,-1266.405518,70,77,435.595092,392.245679

In [309]:
#strike_df.to_csv('G02Trial02step.csv')

In [898]:

step = ['Rstep_time','Rstep_length','Lstep_time','Lstep_length']
rows = []

for col in step:
    df_attr = getattr(strike_df, col)
    row = pd.DataFrame({filename+"_Avg":[df_attr.mean()], 
                        filename+"_SD":[df_attr.std()]
                       }, index = [col])
    rows.append(row)

step_df = pd.concat(rows)
step_df

              B05Trial07B_Avg  B05Trial07B_SD
Rstep_time          68.720379        7.688118
Rstep_length       372.588519       60.592326
Lstep_time          73.118483        6.912390
Lstep_length       393.317840       63.434809

In [899]:
if not os.path.exists('step.csv'):
    step_df.to_csv('step.csv', index=step, mode='w')
else:
    step_df.to_csv('step.csv', index=step, mode='a')

In [246]:
#step_df.to_csv('./step.csv', index=False)
#step = open('step.csv',"w")
#step

In [248]:
#step_df2 = pd.concat([step, step_df], axis=1)
#step_df2